<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873019769820-pagtg4l2gcssg9v32n6hvekcae0f8juu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873019769820-pagtg4l2gcssg9v32n6hvekcae0f8juu</string>
	<key>API_KEY</key>
	<string>AIzaSyBIz2N4jUw_i4UA1TwzD2AHoyMwyhrzRog</string>
	<key>GCM_SENDER_ID</key>
	<string>873019769820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysterycoder456.Beancord</string>
	<key>PROJECT_ID</key>
	<string>beancord-d28d2</string>
	<key>STORAGE_BUCKET</key>
	<string>beancord-d28d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873019769820:ios:0eb7d5c0299867fa9dc519</string>
</dict>
</plist>