<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293154341907-uubu6fegajn3pn1kk30bcfljpgh8k11s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293154341907-uubu6fegajn3pn1kk30bcfljpgh8k11s</string>
	<key>API_KEY</key>
	<string>AIzaSyA9hX9He8aIvrHwDUDb9wEnFxlJ8tWwh3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>293154341907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysterycoder456.iOSChatApp</string>
	<key>PROJECT_ID</key>
	<string>ioschatapp-ba127</string>
	<key>STORAGE_BUCKET</key>
	<string>ioschatapp-ba127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293154341907:ios:a1c0e0bc7498d4d09aebe6</string>
</dict>
</plist>